
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color:  rgb(2, 2, 63);
    
}
.navbar ul {
    display: flex;
    justify-content: center;

}
.navbar ul li {
    list-style: none;
    margin: 0 23px;
    font-size: 1rem;
    font-weight: 600;
}
.nav-left {
    font-size: 1.5rem;
}
ul li a {
    text-decoration: none;
    color: white;
}
ul li a:hover {
    font-size: 1.03rem;
    color: rgb(153, 153, 226);
}




/** ----------------------main-------------------- **/


#home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
    
}
#home > div {
    width: 30%;
}
.leftsection {
    font-size: 3rem;
}
.rightsection img {
    width: 80%;
    margin: 50px 0;
}

#element {
    color: rgb(153, 153, 226);
}


/** --------------------abt----------------**/

#second-section {
    margin-top: 7rem;
}

.container {
    padding: 10px 10%;
}
.about {
    padding: 80px 0;
    color: #ababab;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.abtcol1 {
    flex-basis: 35%;
}
.abtcol1 img {
    width: 100%;
    border-radius:50% ;
}

.abtcol2 {
    flex-basis: 55%;
}
.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.abtcol2 p {
    font-size: 1.25rem;
    margin-top: 15px; 
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}



/** ----------------------------- Skills -----------------------**/

#skills {
    margin-top: 7rem;
}
.skl-head {
   margin: 0 25%;
}
.skl-head h1 {
    font-size: 50px;
    font-weight: 800;

}
.skl-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.skl-left {
    height: 100px;
    width: 30%;
    margin-left: 2rem;

}
.skl-left h2 {
    font-size: 35px;
    font-weight: 800;
    margin-top: 30px;
}



.skl-right {
    height: 100px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}


.skl-box1 {
    background-image: url(HTML5_logo_and_wordmark.svg);
    background-size: 70px 68px;
   
}
.skl-box1 h6 {
    font-size: 0.8rem;
    margin: 80px 17px;
}

.skl-box2 {
    background-image: url(CSS3_logo_and_wordmark.svg);
    background-size: 58px 68px;
}
.skl-box2 h6 {
    font-size: 0.8rem;
    margin: 80px 17px;
}

.skl-box3 {
    background-image: url(JavaScript_logo_PNG1.png);
    background-size: 96px 69px;
}
.skl-box3 h6 {
    font-size: 0.8rem;
    margin: 80px 2px;
}

.skl-box4 {
    background-image: url(React-icon.svg);
    background-size: 69px 63px;
}
.skl-box4 h6 {
    font-size: 0.8rem;
    margin: 80px 0px;
}

.skl-box5 {
    background-image: url(nextjs-logo.png);
    background-size: 70px 70px;
}
.skl-box5 h6 {
    font-size: 0.8rem;
    margin: 80px 10px;
}

.skl-box6 {
    background-image: url(mongo.png);
    background-size: 66px 66px;
}
.skl-box6 h6 {
    font-size: 0.8rem;
    margin: 80px 0px;
}

.skl-box7 {
    background-image: url(express.png);
    background-size: 64px 53px;
}
.skl-box7 h6 {
    font-size: 0.8rem;
    margin: 80px 4px;
}

.skl-box8 {
    background-image: url(node.png);
    background-size: 67px 67px;
}
.skl-box8 h6 {
    font-size: 0.8rem;
    margin: 80px 10px;
}


/** ---------------------------- project--------------------------**/

.prj {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 12rem;
}


/** ---------------------- contact ------------------- **/


#contact {
    margin: 100px 0px;
}

.contact-email {
    display: flex;
    margin: 25px 5px;
}
.contact-email p {
    margin-left: 23px;
}

.contact-phone {
    display: flex;
    margin: 25px 5px;
}
.contact-phone p {
    margin-left: 23px;
}

.contact-socials {
    display: flex;
    justify-content: space-evenly;
    margin: -7px 175px 0 0;
}
.contact-socials i {
    font-size: 25px;
    color: white;
}

/** ------------------------ footer ---------------- **/
footer {
    background-color: #0e0e1a;
    display: flex;
    padding: 23px 125px;
}
.second{
    width: 100%;

}
.flex{
    width: 50%;
}
.nav-items{
    display: flex;
    justify-content: flex-start;
    
}
.nav-items li{
   list-style: none;
   margin-right: 20%;

}

/**-------------------------------------**/

@media (max-width: 960px) {
    .navbar ul {
        display: none;
    }
   
    #home {
        display: inline-flex;
    }

    #second-section .container .row {
        display: block;
    }
    .abtcol1 img {
        width: 30%;
    }
    

}